dist/samples/includes/nav-primary.html

<nav class="nav-primary"><a class="nav-primary__logo" href="sample-components.html"><span class="aolcore-icon aolcore-icon--aol" aria-hidden="true" aria-role="presentation"></span><span class="aolcore-icon aolcore-icon--myaccount" aria-hidden="true" aria-role="presentation"></span><small class="screen-reader">AOL MyAccount</small></a>
  <ul class="nav-primary__items">
    <li class="nav-primary__item"><a class="nav-primary__link" href="sample-content-containers.html"><span class="nav-primary__icon aolcore-icon aolcore-icon--products" aria-hidden="true" aria-role="presentation"></span>Layout</a></li>
    <li class="nav-primary__item"><a class="nav-primary__link" href="sample-icons.html"><span class="nav-primary__icon aolcore-icon aolcore-icon--support" aria-hidden="true" aria-role="presentation"></span>Icons</a></li>
    <li class="nav-primary__item js-has-subpanel">
      <div class="nav-primary__link"><span class="nav-primary__icon aolcore-icon aolcore-icon--plans" aria-hidden="true" aria-role="presentation"> </span>Components</div>
      <div class="nav-primary__subpanel">
        <h2>Components</h2>
        <div class="nav-primary__subpanel__close js-nav-primary-subpanel-close"><span class="aolcore-icon aolcore-icon--back-arrow" aria-hidden="true" aria-role="presentation"></span><small class="screen-reader">Back</small></div>
        <ul class="nav-primary__subpanel__items">
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#statement">Statement </a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#record-detail">Record Detail</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#reveal">Reveal</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#prompt">Prompt</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#profile">Profile</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#notification">In-page Notification</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#card">Card</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#contained-overflow">Contained Overflow</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#buttons">Buttons</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#nav-primary">Primary Navigation</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#checkboxes">Checkboxes</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#radio">Radio Buttons </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-primary__item"><a class="nav-primary__link" href="sample-html-elements.html"><span class="nav-primary__icon aolcore-icon aolcore-icon--text-size" aria-hidden="true" aria-role="presentation"></span>HTML</a></li>
    <li class="nav-primary__item js-has-subpanel"><a class="nav-primary__link" href="#"><span class="nav-primary__icon aolcore-icon aolcore-icon--images-on" aria-hidden="true" aria-role="presentation"></span>Pages</a>
      <div class="nav-primary__subpanel">
        <h2>Pages
          <div class="nav-primary__subpanel__close js-nav-primary-subpanel-close"><span class="aolcore-icon aolcore-icon--back-arrow" aria-hidden="true" aria-role="presentation"></span><small class="screen-reader">Back</small></div>
        </h2>
        <ul class="nav-primary__subpanel__items">
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-cancel.html">My Account - Cancel</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-product.html">My Account - Product</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-subscriptions.html">My Account - Subscriptions</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-payment-methods.html">My Account - Payment Methods</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-add-card.html">My Account - Add Card</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-link-subscriptions.html">My Account - Link Subscriptions</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-add-direct-debit.html">My Account - Add Direct Debit</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-switch-payment-method.html">My Account - Switch Payment Method</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-billing-statement.html">My Account - Billing Statement</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-profile.html">My Account - Profile</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-activity.html">My Account - Activity</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-profile-edit.html">My Account - Contact Information</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="nav-primary__complimentary">
    <li class="nav-primary__complimentary__item"><a href="#">Lorem</a></li>
  </ul>
</nav>
<!--/.nav-primary-->

src/samples/includes/nav-primary.pug
nav.nav-primary
    a.nav-primary__logo(href="sample-components.html")
        span.aolcore-icon.aolcore-icon--aol(aria-hidden="true", aria-role="presentation")
        span.aolcore-icon.aolcore-icon--myaccount(aria-hidden="true", aria-role="presentation")
        small.screen-reader AOL MyAccount
    ul.nav-primary__items
        li.nav-primary__item
            a.nav-primary__link(href='sample-content-containers.html')
                span.nav-primary__icon.aolcore-icon.aolcore-icon--products(aria-hidden="true", aria-role="presentation")
                | Layout
        li.nav-primary__item
            a.nav-primary__link(href='sample-icons.html')
                span.nav-primary__icon.aolcore-icon.aolcore-icon--support(aria-hidden="true", aria-role="presentation")
                | Icons
        li.nav-primary__item.js-has-subpanel
            .nav-primary__link
                span.nav-primary__icon.aolcore-icon.aolcore-icon--plans(aria-hidden="true", aria-role="presentation") 
                | Components
            .nav-primary__subpanel
                h2 Components
                .nav-primary__subpanel__close.js-nav-primary-subpanel-close
                    span.aolcore-icon.aolcore-icon--back-arrow(aria-hidden="true", aria-role="presentation")
                    small.screen-reader Back
                ul.nav-primary__subpanel__items
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#statement') Statement 
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#record-detail') Record Detail
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#reveal') Reveal
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#prompt') Prompt
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#profile') Profile
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#notification') In-page Notification
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#card') Card
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#contained-overflow') Contained Overflow
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#buttons') Buttons
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#nav-primary') Primary Navigation
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#checkboxes') Checkboxes
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#radio') Radio Buttons 
        li.nav-primary__item
            a.nav-primary__link(href='sample-html-elements.html')
                span.nav-primary__icon.aolcore-icon.aolcore-icon--text-size(aria-hidden="true", aria-role="presentation")
                | HTML
        li.nav-primary__item.js-has-subpanel
            a.nav-primary__link(href='#')
                span.nav-primary__icon.aolcore-icon.aolcore-icon--images-on(aria-hidden="true", aria-role="presentation")
                | Pages
            .nav-primary__subpanel
                h2 Pages
                    .nav-primary__subpanel__close.js-nav-primary-subpanel-close
                        span.aolcore-icon.aolcore-icon--back-arrow(aria-hidden="true", aria-role="presentation")
                        small.screen-reader Back
                ul.nav-primary__subpanel__items
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-cancel.html') My Account - Cancel
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-product.html') My Account - Product
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-subscriptions.html') My Account - Subscriptions
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-payment-methods.html') My Account - Payment Methods
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-add-card.html') My Account - Add Card
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-link-subscriptions.html') My Account - Link Subscriptions
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-add-direct-debit.html') My Account - Add Direct Debit
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-switch-payment-method.html') My Account - Switch Payment Method
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-billing-statement.html') My Account - Billing Statement
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-profile.html') My Account - Profile
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-activity.html') My Account - Activity
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-profile-edit.html') My Account - Contact Information
    ul.nav-primary__complimentary
        li.nav-primary__complimentary__item
            a(href="#") Lorem
///.nav-primary
