src/components/activity.pug
section.statement.statement--theme2
    .statement__header
        h2 Details
    ///.statement__header
    .statement__body
        table
            caption.statement__body__header
                h3 04/16/17
            colgroup
                col.statement__description
                col.statement__total
            tbody
                tr 
                    td 
                        strong Account security Question created
                        ul
                            li Performed By: shroffmonkey
                            li Performed By: shroffmonkey
                    td 10:02 AM
                tr 
                    td 
                        strong Screen name created
                        ul
                            li Performed By: shroffmonkey
                            li Performed By: shroffmonkey
                    td 10:00 AM
        hr
        table
            caption.statement__body__header
                h3 04/09/17
            colgroup
                col.statement__description
                col.statement__total
            tbody
                tr 
                    td 
                        strong Address updated
                        ul
                            li Performed By: shroffmonkey
                            li Performed By: shroffmonkey
                    td 09:47 AM
                tr 
                    td 
                        strong Phone number created
                        ul
                            li Performed By: shroffmonkey
                            li Performed By: shroffmonkey
                    td 09:47 AM
        hr
        table
            caption.statement__body__header
                h3 04/01/17
            colgroup
                col.statement__description
                col.statement__total
            tbody
                tr 
                    td 
                        strong Processed Registration
                        ul
                            li Performed By: shroffmonkey
                            li Performed By: shroffmonkey
                    td 3:37 PM
                tr 
                    td 
                        strong Updated Marketing Preferences
                        ul
                            li Performed By: AOL Member Services
                            li Performed By: shroffmonkey
                    td 3:37 PM
                tr 
                    td 
                        strong Updated Marketing Preferences
                        ul
                            li Performed By: AOL Member Services
                            li Performed By: otherusername11@email
                    td 3:36 PM
    ///.statement__body
///.statement

dist/components/activity.html

<section class="statement statement--theme2">
  <div class="statement__header">
    <h2>Details</h2>
  </div>
  <!--/.statement__header-->
  <div class="statement__body">
    <table>
      <caption class="statement__body__header">
        <h3>04/16/17</h3>
      </caption>
      <colgroup>
        <col class="statement__description"/>
        <col class="statement__total"/>
      </colgroup>
      <tbody>
        <tr> 
          <td> <strong>Account security Question created</strong>
            <ul>
              <li>Performed By: shroffmonkey</li>
              <li>Performed By: shroffmonkey</li>
            </ul>
          </td>
          <td>10:02 AM</td>
        </tr>
        <tr> 
          <td> <strong>Screen name created</strong>
            <ul>
              <li>Performed By: shroffmonkey</li>
              <li>Performed By: shroffmonkey</li>
            </ul>
          </td>
          <td>10:00 AM</td>
        </tr>
      </tbody>
    </table>
    <hr/>
    <table>
      <caption class="statement__body__header">
        <h3>04/09/17</h3>
      </caption>
      <colgroup>
        <col class="statement__description"/>
        <col class="statement__total"/>
      </colgroup>
      <tbody>
        <tr> 
          <td> <strong>Address updated</strong>
            <ul>
              <li>Performed By: shroffmonkey</li>
              <li>Performed By: shroffmonkey</li>
            </ul>
          </td>
          <td>09:47 AM</td>
        </tr>
        <tr> 
          <td> <strong>Phone number created</strong>
            <ul>
              <li>Performed By: shroffmonkey</li>
              <li>Performed By: shroffmonkey</li>
            </ul>
          </td>
          <td>09:47 AM</td>
        </tr>
      </tbody>
    </table>
    <hr/>
    <table>
      <caption class="statement__body__header">
        <h3>04/01/17</h3>
      </caption>
      <colgroup>
        <col class="statement__description"/>
        <col class="statement__total"/>
      </colgroup>
      <tbody>
        <tr> 
          <td> <strong>Processed Registration</strong>
            <ul>
              <li>Performed By: shroffmonkey</li>
              <li>Performed By: shroffmonkey</li>
            </ul>
          </td>
          <td>3:37 PM</td>
        </tr>
        <tr> 
          <td> <strong>Updated Marketing Preferences</strong>
            <ul>
              <li>Performed By: AOL Member Services</li>
              <li>Performed By: shroffmonkey</li>
            </ul>
          </td>
          <td>3:37 PM</td>
        </tr>
        <tr> 
          <td> <strong>Updated Marketing Preferences</strong>
            <ul>
              <li>Performed By: AOL Member Services</li>
              <li>Performed By: otherusername11@email</li>
            </ul>
          </td>
          <td>3:36 PM</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--/.statement__body-->
</section>
<!--/.statement-->
