dist/components/checkbox-group__two-col--desktop-up.html

<ul class="checkbox-group checkbox-group__two-col--desktop-up">
  <li class="checkbox-group__item">
    <label>
      <input class="checkbox" type="checkbox" name="checkbox-group__A"/><span class="checkbox-label">Option A</span>
    </label>
  </li>
  <li class="checkbox-group__item">
    <label>
      <input class="checkbox" type="checkbox" name="checkbox-group__B"/><span class="checkbox-label">Option B</span>
    </label>
  </li>
  <li class="checkbox-group__item">
    <label>
      <input class="checkbox" type="checkbox" name="checkbox-group__C"/><span class="checkbox-label">Option C</span>
    </label>
  </li>
  <li class="checkbox-group__item">
    <label>
      <input class="checkbox" type="checkbox" name="checkbox-group__D"/><span class="checkbox-label">Option D</span>
    </label>
  </li>
  <li class="checkbox-group__item">
    <label>
      <input class="checkbox" type="checkbox" name="checkbox-group__E"/><span class="checkbox-label">Option E</span>
    </label>
  </li>
</ul>
<!--/.checkbox-group__two-col--desktop-up-->

src/components/checkbox-group__two-col--desktop-up.pug
ul.checkbox-group.checkbox-group__two-col--desktop-up
  li.checkbox-group__item
    label
      input.checkbox(type='checkbox', name='checkbox-group__A')
      span.checkbox-label Option A
  li.checkbox-group__item
    label
      input.checkbox(type='checkbox', name='checkbox-group__B')
      span.checkbox-label Option B
  li.checkbox-group__item
    label
      input.checkbox(type='checkbox', name='checkbox-group__C')
      span.checkbox-label Option C
  li.checkbox-group__item
    label
      input.checkbox(type='checkbox', name='checkbox-group__D')
      span.checkbox-label Option D
  li.checkbox-group__item
    label
      input.checkbox(type='checkbox', name='checkbox-group__E')
      span.checkbox-label Option E
///.checkbox-group__two-col--desktop-up
