src/components/hero.pug
section.hero(style="background-image:url(http://placehold.it/1200x300)")
    .content.content--medium
        .hero__gravatar
            img(src="http://placehold.it/150x150/ffffff", alt="")
///.hero

dist/components/hero.html

<section class="hero" style="background-image:url(http://placehold.it/1200x300);">
  <div class="content content--medium">
    <div class="hero__gravatar"><img src="http://placehold.it/150x150/ffffff" alt=""/></div>
  </div>
</section>
<!--/.hero-->
