src/components/menu.pug
.menu
    .menu__tag
        span.aolcore-icon.aolcore-icon--checked(aria-hidden="true", aria-role="presentation")
        | Tag - Lorem
    h4 Get Started
    p Content - Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    ul.menu__list
        li.menu__list__item
            a.menu__link(href="#")
                span.aolcore-icon.aolcore-icon--download2(aria-hidden="true", aria-role="presentation")
                | Link - Lorem ipsum dolor sit amet dolor ipsum
        li.menu__list__item
            a.menu__link(href="#")
                span.aolcore-icon.aolcore-icon--forward(aria-hidden="true", aria-role="presentation")
                | Link - Lorem ipsum
        li.menu__list__item
            .reveal
                button.reveal__action.js-reveal-toggle
                    span.aolcore-icon.aolcore-icon--expand(aria-hidden="true", aria-role="presentation") 
                    | Lorem Ipsum
                .reveal__content
                    .menu__list__content
                        dl
                            dt Lorem:
                            dd Ipsum
                            dt Dolor:
                            dd sit
                            dt Amet:
                            dd Concectetur
                        a(href="#") Elit
                ///.reveal__content
            ///.reveal
        li.menu__list__item
            a.menu__link(href="#")
                span.aolcore-icon.aolcore-icon--forward(aria-hidden="true", aria-role="presentation")
                | Link - Lorem ipsum
///.menu

dist/components/menu.html

<div class="menu">
  <div class="menu__tag"><span class="aolcore-icon aolcore-icon--checked" aria-hidden="true" aria-role="presentation"></span>Tag - Lorem</div>
  <h4>Get Started</h4>
  <p>Content - Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
  <ul class="menu__list">
    <li class="menu__list__item"><a class="menu__link" href="#"><span class="aolcore-icon aolcore-icon--download2" aria-hidden="true" aria-role="presentation"></span>Link - Lorem ipsum dolor sit amet dolor ipsum</a></li>
    <li class="menu__list__item"><a class="menu__link" href="#"><span class="aolcore-icon aolcore-icon--forward" aria-hidden="true" aria-role="presentation"></span>Link - Lorem ipsum</a></li>
    <li class="menu__list__item">
      <div class="reveal">
        <button class="reveal__action js-reveal-toggle"><span class="aolcore-icon aolcore-icon--expand" aria-hidden="true" aria-role="presentation"> </span>Lorem Ipsum</button>
        <div class="reveal__content">
          <div class="menu__list__content">
            <dl>
              <dt>Lorem:</dt>
              <dd>Ipsum</dd>
              <dt>Dolor:</dt>
              <dd>sit</dd>
              <dt>Amet:</dt>
              <dd>Concectetur</dd>
            </dl><a href="#">Elit</a>
          </div>
        </div>
        <!--/.reveal__content-->
      </div>
      <!--/.reveal-->
    </li>
    <li class="menu__list__item"><a class="menu__link" href="#"><span class="aolcore-icon aolcore-icon--forward" aria-hidden="true" aria-role="presentation"></span>Link - Lorem ipsum</a></li>
  </ul>
</div>
<!--/.menu-->
