dist/components/nav-primary.html

<nav class="nav-primary"><a class="nav-primary__logo" href="/"><span class="aolcore-icon aolcore-icon--aol" aria-hidden="true" aria-role="presentation"></span><span class="aolcore-icon aolcore-icon--myaccount" aria-hidden="true" aria-role="presentation"></span><small class="screen-reader">AOL MyAccount</small></a>
  <ul class="nav-primary__items">
    <li class="nav-primary__item js-has-subpanel">
      <div class="nav-primary__link"><span class="nav-primary__icon aolcore-icon aolcore-icon--products" aria-hidden="true" aria-role="presentation"> </span>Lorem</div>
      <div class="nav-primary__subpanel">
        <h2>Title</h2>
        <div class="nav-primary__subpanel__close js-nav-primary-subpanel-close"><span class="aolcore-icon aolcore-icon--back-arrow" aria-hidden="true" aria-role="presentation"></span><small class="screen-reader">Back</small></div>
        <ul class="nav-primary__subpanel__items">
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="#">Ipsum</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="#">Ipsum</a></li>
          <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="#">Ipsum</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-primary__item"><a class="nav-primary__link" href="#"><span class="nav-primary__icon aolcore-icon aolcore-icon--shortcuts" aria-hidden="true" aria-role="presentation"></span>Ipsum</a></li>
    <li class="nav-primary__item"><a class="nav-primary__link" href="#"><span class="nav-primary__icon aolcore-icon aolcore-icon--support" aria-hidden="true" aria-role="presentation"></span>Dolor</a></li>
  </ul>
  <ul class="nav-primary__complimentary">
    <li> <a href="#">Lorem</a></li>
    <li> <a href="#">Ipsum</a></li>
    <li> <a href="#">Dolor</a></li>
  </ul>
</nav>
<!--/.nav-primary-->

src/components/nav-primary.pug
nav.nav-primary
    a.nav-primary__logo(href="/")
        span.aolcore-icon.aolcore-icon--aol(aria-hidden="true", aria-role="presentation")
        span.aolcore-icon.aolcore-icon--myaccount(aria-hidden="true", aria-role="presentation")
        small.screen-reader AOL MyAccount
    ul.nav-primary__items
        li.nav-primary__item.js-has-subpanel
            .nav-primary__link
                span.nav-primary__icon.aolcore-icon.aolcore-icon--products(aria-hidden="true", aria-role="presentation") 
                | Lorem
            .nav-primary__subpanel
                h2 Title
                .nav-primary__subpanel__close.js-nav-primary-subpanel-close
                    span.aolcore-icon.aolcore-icon--back-arrow(aria-hidden="true", aria-role="presentation")
                    small.screen-reader Back
                ul.nav-primary__subpanel__items
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='#') Ipsum
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='#') Ipsum
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='#') Ipsum
        li.nav-primary__item
            a.nav-primary__link(href='#')
                span.nav-primary__icon.aolcore-icon.aolcore-icon--shortcuts(aria-hidden="true", aria-role="presentation")
                | Ipsum
        li.nav-primary__item
            a.nav-primary__link(href='#')
                span.nav-primary__icon.aolcore-icon.aolcore-icon--support(aria-hidden="true", aria-role="presentation")
                | Dolor
    ul.nav-primary__complimentary
        li 
            a(href="#") Lorem
        li 
            a(href="#") Ipsum
        li 
            a(href="#") Dolor
///.nav-primary
