dist/components/nav-footer.html

<section class="notification notification--highlight notification--centered">
  <div class="notification__content">
    <big>Do you have an questions or issues? </big><a class="button button--cta button--white" href="#">Get Help</a>
  </div>
</section>
<!--/.notification-->
<section class="nav-footer">
  <div class="content content--medium">
    <div class="nav-footer__sections">
      <div class="nav-footer__section">
        <h4 class="nav-footer__title js-nav-footer-toggle">Lorem</h4>
        <ul class="nav-footer__items">
          <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
          <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
          <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
        </ul>
      </div>
      <div class="nav-footer__section">
        <h4 class="nav-footer__title js-nav-footer-toggle">Ipsum</h4>
        <ul class="nav-footer__items">
          <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
          <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
          <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
        </ul>
      </div>
      <div class="nav-footer__section">
        <h4 class="nav-footer__title js-nav-footer-toggle">Dolor</h4>
        <ul class="nav-footer__items">
          <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
          <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
          <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="legal">
  <div class="content content--medium">
    <div class="legal__copyright"><span class="aolcore-icon aolcore-icon--aol" aria-hidden="true" aria-role="presentation"></span><small class="screen-reader">AOL MyAccount</small>&copy; 2017 AOL Inc. All rights reserved</div>
  </div>
</section>
<!--/.nav-footer-->

src/components/nav-footer.pug

section.notification.notification--highlight.notification--centered
    .notification__content
        big Do you have an questions or issues? 
        a.button.button--cta.button--white(href="#") Get Help
///.notification

section.nav-footer
    .content.content--medium
        .nav-footer__sections
            .nav-footer__section
                h4.nav-footer__title.js-nav-footer-toggle Lorem
                ul.nav-footer__items
                    li.nav-footer__item
                        a.nav-footer__link(href="") link 
                    li.nav-footer__item
                        a.nav-footer__link(href="") link 
                    li.nav-footer__item
                        a.nav-footer__link(href="") link 
            .nav-footer__section
                h4.nav-footer__title.js-nav-footer-toggle Ipsum
                ul.nav-footer__items
                    li.nav-footer__item
                        a.nav-footer__link(href="") link 
                    li.nav-footer__item
                        a.nav-footer__link(href="") link 
                    li.nav-footer__item
                        a.nav-footer__link(href="") link 
            .nav-footer__section
                h4.nav-footer__title.js-nav-footer-toggle Dolor
                ul.nav-footer__items
                    li.nav-footer__item
                        a.nav-footer__link(href="") link 
                    li.nav-footer__item
                        a.nav-footer__link(href="") link 
                    li.nav-footer__item
                        a.nav-footer__link(href="") link 
section.legal
    .content.content--medium
        //--
            .social
                a.social__item(href="#")
                    img(src="https://s.aolcdn.com/psstatic/aolhelp-prod/8.2.3/assets/img/social-facebook.png")
                    span.screen-reader Facebook
                a.social__item(href="#")
                    img(src="https://s.aolcdn.com/psstatic/aolhelp-prod/8.2.3/assets/img/social-twitter.png")
                    span.screen-reader Twitter
        .legal__copyright
            span.aolcore-icon.aolcore-icon--aol(aria-hidden="true", aria-role="presentation")
            small.screen-reader AOL MyAccount
            | &copy; 2017 AOL Inc. All rights reserved
///.nav-footer
