src/components/profile.pug
.profile
    .profile__authenticated.js-profile-options-toggle
        span.profile__name Hi Username!
        img.profile__icon(src="https://s.aolcdn.com/psstatic/aolhelp-prod/8.2.2/assets/img/default-profile-icon.png")
        ul.profile__options
            li.profile__option
                a.profile__link(href="test") Lorem
            li.profile__option
                a.profile__link(href="") Ipsum
            li.profile__option
                a.profile__link.js-profile-signout(href="") Sign Out
    a.profile__unauthenticated.js-profile-signin(href="#") Sign In
///.profile

dist/components/profile.html

<div class="profile">
  <div class="profile__authenticated js-profile-options-toggle"><span class="profile__name">Hi Username!</span><img class="profile__icon" src="https://s.aolcdn.com/psstatic/aolhelp-prod/8.2.2/assets/img/default-profile-icon.png"/>
    <ul class="profile__options">
      <li class="profile__option"><a class="profile__link" href="test">Lorem</a></li>
      <li class="profile__option"><a class="profile__link" href="">Ipsum</a></li>
      <li class="profile__option"><a class="profile__link js-profile-signout" href="">Sign Out</a></li>
    </ul>
  </div><a class="profile__unauthenticated js-profile-signin" href="#">Sign In</a>
</div>
<!--/.profile-->
