src/components/prompt.pug
section.prompt.prompt--light
    .content.content--medium
        .prompt__content
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem magnam incidunt aut at sit nemo sequi dolore, dolorum sed laudantium perferendis veritatis.
        .prompt__action
            button.button.button--outline.js-prompt-action Lorem
///.prompt

dist/components/prompt.html

<section class="prompt prompt--light">
  <div class="content content--medium">
    <div class="prompt__content">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem magnam incidunt aut at sit nemo sequi dolore, dolorum sed laudantium perferendis veritatis.</p>
    </div>
    <div class="prompt__action">
      <button class="button button--outline js-prompt-action">Lorem</button>
    </div>
  </div>
</section>
<!--/.prompt-->
