dist/components/radio-group__two-col--desktop-up.html

<ul class="radio-group radio-group__two-col--desktop-up">
  <li class="radio-group__item">
    <label>
      <input class="radio" type="radio" name="radio-group__two-col"/><span class="radio-label">Yes</span>
    </label>
  </li>
  <li class="radio-group__item">
    <label>
      <input class="radio" type="radio" name="radio-group__two-col"/><span class="radio-label">No</span>
    </label>
  </li>
</ul>
<!--/.radio-group.radio-group__two-col--desktop-up-->

src/components/radio-group__two-col--desktop-up.pug
ul.radio-group.radio-group__two-col--desktop-up
  li.radio-group__item
    label
      input.radio(type='radio', name='radio-group__two-col')
      span.radio-label Yes
  li.radio-group__item
    label
      input.radio(type='radio', name='radio-group__two-col')
      span.radio-label No
///.radio-group.radio-group__two-col--desktop-up
