dist/components/radio-group.html

<ul class="radio-group">
  <li class="radio-group__item">
    <label>
      <input class="radio" type="radio" name="radio-group"/><span class="radio-label">I am having a technical problem</span>
    </label>
  </li>
  <li class="radio-group__item">
    <label>
      <input class="radio" type="radio" name="radio-group"/><span class="radio-label">I don't believe the services provided are worth the price</span>
    </label>
  </li>
  <li class="radio-group__item">
    <label>
      <input class="radio" type="radio" name="radio-group"/><span class="radio-label">I no longer use/need this product</span>
    </label>
  </li>
  <li class="radio-group__item">
    <label>
      <input class="radio" type="radio" name="radio-group"/><span class="radio-label">I did not realize I had purchased this product</span>
    </label>
  </li>
  <li class="radio-group__item">
    <label>
      <input class="radio" type="radio" name="radio-group"/><span class="radio-label">Other</span>
    </label>
  </li>
</ul>
<!--/.radio-group-->

src/components/radio-group.pug
ul.radio-group
  li.radio-group__item
    label
      input.radio(type='radio', name='radio-group')
      span.radio-label I am having a technical problem
  li.radio-group__item
    label
      input.radio(type='radio', name='radio-group')
      span.radio-label I don't believe the services provided are worth the price
  li.radio-group__item
    label
      input.radio(type='radio', name='radio-group')
      span.radio-label I no longer use/need this product
  li.radio-group__item
    label
      input.radio(type='radio', name='radio-group')
      span.radio-label I did not realize I had purchased this product
  li.radio-group__item
    label
      input.radio(type='radio', name='radio-group')
      span.radio-label Other
///.radio-group
