dist/components/reveal.html

<div class="reveal">
  <button class="reveal__action js-reveal-toggle"><span class="aolcore-icon aolcore-icon--expand" aria-hidden="true" aria-role="presentation"> </span>Lorem Ipsum</button>
  <!--/.button-->
  <div class="reveal__content">
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero animi unde non eius, odit magni optio deserunt at dignissimos temporibus nemo, nulla in nam magnam dolorum veritatis quibusdam obcaecati. Nisi.</p>
  </div>
  <!--/.reveal__content-->
</div>
<!--/.reveal-->

src/components/reveal.pug
.reveal
    button.reveal__action.js-reveal-toggle
        span.aolcore-icon.aolcore-icon--expand(aria-hidden="true", aria-role="presentation") 
        | Lorem Ipsum
    ///.button
    .reveal__content
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero animi unde non eius, odit magni optio deserunt at dignissimos temporibus nemo, nulla in nam magnam dolorum veritatis quibusdam obcaecati. Nisi.
    ///.reveal__content
///.reveal
