dist/components/statement.html

<section class="statement">
  <div class="statement__header">
    <h2>Details</h2>
    <div class="statement__header__date"><strong>May 2017</strong></div>
  </div>
  <!--/.statement__header-->
  <div class="statement__body">
    <table>
      <caption class="statement__body__header">
        <h3>Account Credit</h3>
        <div class="statement__body__total"><strong>($5.00)</strong></div>
      </caption>
      <colgroup>
        <col class="statement__date"/>
        <col class="statement__description"/>
        <col class="statement__amount"/>
        <col class="statement__total"/>
      </colgroup>
      <tbody>
        <tr> 
          <td>5/4/17</td>
          <td>One-time Credit</td>
          <td>($5.00)</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
    <hr/>
    <table>
      <caption class="statement__body__header">
        <h3>AOL Advantage Plan</h3>
        <div class="statement__body__tag"><span class="aolcore-icon aolcore-icon--checked" aria-hidden="true" aria-role="presentation"></span>Tag - Lorem</div>
        <div class="statement__body__total"><strong>$20.00</strong></div>
      </caption>
      <colgroup>
        <col class="statement__date"/>
        <col class="statement__description"/>
        <col class="statement__amount"/>
        <col class="statement__total"/>
      </colgroup>
      <tbody>
        <tr> 
          <td>5/4/17</td>
          <td>Monthly Charges</td>
          <td>$24.00</td>
          <td>&nbsp;</td>
        </tr>
        <tr> 
          <td>&nbsp;</td>
          <td>Taxes</td>
          <td>$1.00</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
      <tfoot>
        <tr> 
          <td>5/4/17</td>
          <td>Payment - Visa Credit ending in 0444</td>
          <td>&nbsp;</td>
          <td>($15.00)</td>
        </tr>
      </tfoot>
    </table>
    <hr/>
    <table>
      <caption class="statement__body__header">
        <h3>System Mechanic</h3>
        <div class="statement__body__total"><strong>$4.00</strong></div>
      </caption>
      <colgroup>
        <col class="statement__date"/>
        <col class="statement__description"/>
        <col class="statement__amount"/>
        <col class="statement__total"/>
      </colgroup>
      <tbody>
        <tr> 
          <td>3/15/17</td>
          <td>Outstanding Balance</td>
          <td>$3.00</td>
          <td>&nbsp;</td>
        </tr>
        <tr> 
          <td>5/15/17</td>
          <td>Payment Write-off</td>
          <td>($3.00)</td>
          <td>&nbsp;</td>
        </tr>
        <tr> 
          <td>5/15/17</td>
          <td>Monthly Charges</td>
          <td>$4.00</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
      <tfoot>
        <tr> 
          <td>5/15/17</td>
          <td>Payment - Visa Credit ending in 0444</td>
          <td>&nbsp;</td>
          <td>($4.00)</td>
        </tr>
      </tfoot>
    </table>
  </div>
  <!--/.statement__body-->
  <div class="statement__footer">
    <h2>Balance</h2>
    <div class="statement__footer__total"><strong>$0.00</strong></div>
  </div>
  <!--/.statement__footer-->
</section>
<!--/.statement-->
<section class="statement statement--has-alert">
  <div class="statement__alert row">
    <div class="statement__alert__content row__col row__col--x8"><span class="aolcore-icon aolcore-icon--alert2" aria-hidden="true" aria-role="presentation"></span><span>You currently have an outstanding balance.</span></div>
    <div class="statement__alert__action row__col row__col--x4">
      <button class="button button--outline">Pay Now</button>
    </div>
  </div>
  <!--/.statement__alert-->
  <div class="statement__body">
    <table>
      <caption class="statement__body__header">
        <h3>System Mechanic</h3>
      </caption>
      <colgroup>
        <col class="statement__date"/>
        <col class="statement__description"/>
        <col class="statement__amount"/>
        <col class="statement__total"/>
      </colgroup>
      <tbody>
        <tr> 
          <td>3/15/17</td>
          <td>Monthly Charges</td>
          <td>$4.00</td>
          <td>$3.00</td>
        </tr>
        <tr> 
          <td>5/15/17</td>
          <td>Discount - $1 Off 6 Months</td>
          <td>($1.00)</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
      <tfoot>
        <tr> 
          <td>5/15/17</td>
          <td> <strong>Payment could not be processed</strong><br/>Mastercard Debit ending in 0888</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tfoot>
    </table>
  </div>
  <!--/.statement__body-->
</section>

src/components/statement.pug
section.statement
    .statement__header
        h2 Details
        .statement__header__date
            strong May 2017
    ///.statement__header
    .statement__body
        table
            caption.statement__body__header
                h3 Account Credit
                .statement__body__total
                    strong ($5.00)
            colgroup
                col.statement__date
                col.statement__description
                col.statement__amount
                col.statement__total
            tbody
                tr 
                    td 5/4/17
                    td One-time Credit
                    td ($5.00)
                    td &nbsp;
        hr
        table
            caption.statement__body__header
                h3 AOL Advantage Plan
                .statement__body__tag
                    span.aolcore-icon.aolcore-icon--checked(aria-hidden="true", aria-role="presentation")
                    | Tag - Lorem
                .statement__body__total
                    strong $20.00
            colgroup
                col.statement__date
                col.statement__description
                col.statement__amount
                col.statement__total
            tbody
                tr 
                    td 5/4/17
                    td Monthly Charges
                    td $24.00
                    td &nbsp;
                tr 
                    td &nbsp;
                    td Taxes
                    td $1.00
                    td &nbsp;
            tfoot
                tr 
                    td 5/4/17
                    td Payment - Visa Credit ending in 0444
                    td &nbsp;
                    td ($15.00)
        hr
        table
            caption.statement__body__header
                h3 System Mechanic
                .statement__body__total
                    strong $4.00
            colgroup
                col.statement__date
                col.statement__description
                col.statement__amount
                col.statement__total
            tbody
                tr 
                    td 3/15/17
                    td Outstanding Balance
                    td $3.00
                    td &nbsp;
                tr 
                    td 5/15/17
                    td Payment Write-off
                    td ($3.00)
                    td &nbsp;
                tr 
                    td 5/15/17
                    td Monthly Charges
                    td $4.00
                    td &nbsp;
            tfoot
                tr 
                    td 5/15/17
                    td Payment - Visa Credit ending in 0444
                    td &nbsp;
                    td ($4.00)
    ///.statement__body
    .statement__footer
        h2 Balance
        .statement__footer__total
            strong $0.00
    ///.statement__footer
///.statement

section.statement.statement--has-alert

    .statement__alert.row
        .statement__alert__content.row__col.row__col--x8
            span.aolcore-icon.aolcore-icon--alert2(aria-hidden="true", aria-role="presentation")
            span You currently have an outstanding balance.
        .statement__alert__action.row__col.row__col--x4
            button.button.button--outline Pay Now
    ///.statement__alert

    .statement__body
        table
            caption.statement__body__header
                h3 System Mechanic
            colgroup
                col.statement__date
                col.statement__description
                col.statement__amount
                col.statement__total
            tbody
                tr 
                    td 3/15/17
                    td Monthly Charges
                    td $4.00
                    td $3.00
                tr 
                    td 5/15/17
                    td Discount - $1 Off 6 Months
                    td ($1.00)
                    td &nbsp;
            tfoot
                tr 
                    td 5/15/17
                    td 
                        strong Payment could not be processed
                        br
                        | Mastercard Debit ending in 0888
                    td &nbsp;
                    td &nbsp;
    ///.statement__body
