dist/samples/my-account-profile-edit.html
<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AOL Core UI</title>
  <link rel="stylesheet" href="../assets/css/main.css"><!--[if lt IE 9]>
  <script src="../assets/js/vendor/html5shiv.min.js"></script>
  <script src="../assets/js/vendor/respond.min.js"></script><![endif]-->
  <script src="../assets/js/vendor/modernizr-custom.js"></script>
  <script src="../assets/js/vendor/jquery-2.1.0.min.js"></script>
  <script src="../assets/js/vendor/bootstrap-tooltip.min.js"></script>
  <script src="../assets/js/main.js"></script>
</head>
<body>
  <div class="nav-wrapper">
    <nav class="nav-primary"><a class="nav-primary__logo" href="sample-components.html"><span class="aolcore-icon aolcore-icon--aol" aria-hidden="true" aria-role="presentation"></span><span class="aolcore-icon aolcore-icon--myaccount" aria-hidden="true" aria-role="presentation"></span><small class="screen-reader">AOL MyAccount</small></a>
      <ul class="nav-primary__items">
        <li class="nav-primary__item"><a class="nav-primary__link" href="sample-content-containers.html"><span class="nav-primary__icon aolcore-icon aolcore-icon--products" aria-hidden="true" aria-role="presentation"></span>Layout</a></li>
        <li class="nav-primary__item"><a class="nav-primary__link" href="sample-icons.html"><span class="nav-primary__icon aolcore-icon aolcore-icon--support" aria-hidden="true" aria-role="presentation"></span>Icons</a></li>
        <li class="nav-primary__item js-has-subpanel">
          <div class="nav-primary__link"><span class="nav-primary__icon aolcore-icon aolcore-icon--plans" aria-hidden="true" aria-role="presentation"> </span>Components</div>
          <div class="nav-primary__subpanel">
            <h2>Components</h2>
            <div class="nav-primary__subpanel__close js-nav-primary-subpanel-close"><span class="aolcore-icon aolcore-icon--back-arrow" aria-hidden="true" aria-role="presentation"></span><small class="screen-reader">Back</small></div>
            <ul class="nav-primary__subpanel__items">
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#statement">Statement </a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#record-detail">Record Detail</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#reveal">Reveal</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#prompt">Prompt</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#profile">Profile</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#notification">In-page Notification</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#card">Card</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#contained-overflow">Contained Overflow</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#buttons">Buttons</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#nav-primary">Primary Navigation</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#checkboxes">Checkboxes</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#radio">Radio Buttons </a></li>
            </ul>
          </div>
        </li>
        <li class="nav-primary__item"><a class="nav-primary__link" href="sample-html-elements.html"><span class="nav-primary__icon aolcore-icon aolcore-icon--text-size" aria-hidden="true" aria-role="presentation"></span>HTML</a></li>
        <li class="nav-primary__item js-has-subpanel"><a class="nav-primary__link" href="#"><span class="nav-primary__icon aolcore-icon aolcore-icon--images-on" aria-hidden="true" aria-role="presentation"></span>Pages</a>
          <div class="nav-primary__subpanel">
            <h2>Pages
              <div class="nav-primary__subpanel__close js-nav-primary-subpanel-close"><span class="aolcore-icon aolcore-icon--back-arrow" aria-hidden="true" aria-role="presentation"></span><small class="screen-reader">Back</small></div>
            </h2>
            <ul class="nav-primary__subpanel__items">
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-cancel.html">My Account - Cancel</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-product.html">My Account - Product</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-subscriptions.html">My Account - Subscriptions</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-payment-methods.html">My Account - Payment Methods</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-add-card.html">My Account - Add Card</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-link-subscriptions.html">My Account - Link Subscriptions</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-add-direct-debit.html">My Account - Add Direct Debit</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-switch-payment-method.html">My Account - Switch Payment Method</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-billing-statement.html">My Account - Billing Statement</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-profile.html">My Account - Profile</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-activity.html">My Account - Activity</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-profile-edit.html">My Account - Contact Information</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="nav-primary__complimentary">
        <li class="nav-primary__complimentary__item"><a href="#">Lorem</a></li>
      </ul>
    </nav>
    <!--/.nav-primary-->
  </div>
  <div class="page-wrapper">
    <header>
      <div class="header">
        <div class="header__hamburger js-primary-nav-toggle"><span class="aolcore-icon aolcore-icon--hamburger" aria-hidden="true" aria-role="presentation"></span><small class="screen-reader">Menu</small></div><a class="header__logo" href="/"><span class="aolcore-icon aolcore-icon--aol" aria-hidden="true" aria-role="presentation"></span><span class="aolcore-icon aolcore-icon--myaccount" aria-hidden="true" aria-role="presentation"></span><small class="screen-reader">AOL MyAccount</small></a><small class="header__beta">Beta</small>
        <div class="header__profile">
          <div class="profile">
            <div class="profile__authenticated js-profile-options-toggle"><span class="profile__name">Hi Username!</span><img class="profile__icon" src="https://s.aolcdn.com/psstatic/aolhelp-prod/8.2.2/assets/img/default-profile-icon.png">
              <ul class="profile__options">
                <li class="profile__option"><a class="profile__link" href="test">Lorem</a></li>
                <li class="profile__option"><a class="profile__link" href="">Ipsum</a></li>
                <li class="profile__option"><a class="profile__link js-profile-signout" href="">Sign Out</a></li>
              </ul>
            </div><a class="profile__unauthenticated js-profile-signin" href="#">Sign In</a>
          </div>
          <!--/.profile-->
        </div>
      </div>
      <!--/.header-->
    </header>
    <main>
      <div class="content content--wide content--highlight">
        <div class="content content--medium">
          <h1>Contact Information</h1>
          <div class="box box--white">
            <form>
              <div class="row">
                <div class="row__col row__col--x4 error">
                  <label for="x1">First Name</label>
                  <input id="x1" type="text" val="">
                  <label class="error__detail" for="x1">Error message</label>
                </div>
                <div class="row__col row__col--x4 error">
                  <label for="x2">Last Name</label>
                  <input id="x2" type="text" val="">
                  <label class="error__detail" for="x2">Error message</label>
                </div>
                <div class="row__col row__col--x4">
                  <label for="x2a">Display Name</label>
                  <input id="x2a" type="text" val="">
                </div>
              </div>
              <div class="row">
                <div class="row__col row__col--x8">
                  <label for="x3">Address</label>
                  <input id="x3" type="text" val="">
                </div>
                <div class="row__col row__col--x4">
                  <label for="x4">Apt / Unit <em>optional</em></label>
                  <input id="x4" type="text" val="">
                </div>
              </div>
              <div class="row">
                <div class="row__col row__col--x3">
                  <label for="x5">Zip Code</label>
                  <input id="x5" type="text" val="">
                </div>
                <div class="row__col row__col--x6">
                  <label for="x6">City</label>
                  <input id="x6" type="text" val="">
                </div>
                <div class="row__col row__col--x3">
                  <label for="x6a">State</label>
                  <select id="x6a">
                    <option>VA</option>
                    <option>DC</option>
                    <option>MD</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="row__col row__col--x6">
                  <label for="x7">Daytime Phone</label>
                  <input id="x7" type="text" val="">
                </div>
                <div class="row__col row__col--x6">
                  <label for="x8">Evening Phone</label>
                  <input id="x8" type="text" val="">
                </div>
              </div>
              <div class="row">
                <div class="row__col row__col--x3">
                  <label for="x7a">Gender <em>optional</em></label>
                  <select id="x7a">
                    <option>VA</option>
                    <option>DC</option>
                    <option>MD</option>
                  </select>
                </div>
                <div class="row__col row__col--x3">
                  <label for="x8a">Date of Birth <em>optional</em></label>
                  <input id="x8a" type="text" val="" placeholder="DD/MM/YYYY">
                </div>
              </div>
              <div class="row">
                <button class="button button--cta">Save</button>
                <button class="button button--plain">Cancel</button>
              </div>
            </form>
          </div>
        </div>
        <!--/.content--medium-->
      </div>
      <!--/.content--wide-->
    </main>
    <!--/main-->
    <footer>
      <section class="notification notification--highlight notification--centered">
        <div class="notification__content">
          <big>Do you have an questions or issues? </big><a class="button button--cta button--white" href="#">Get Help</a>
        </div>
      </section>
      <!--/.notification-->
      <section class="nav-footer">
        <div class="content content--medium">
          <div class="nav-footer__sections">
            <div class="nav-footer__section">
              <h4 class="nav-footer__title js-nav-footer-toggle">Lorem</h4>
              <ul class="nav-footer__items">
                <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
                <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
                <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
              </ul>
            </div>
            <div class="nav-footer__section">
              <h4 class="nav-footer__title js-nav-footer-toggle">Ipsum</h4>
              <ul class="nav-footer__items">
                <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
                <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
                <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
              </ul>
            </div>
            <div class="nav-footer__section">
              <h4 class="nav-footer__title js-nav-footer-toggle">Dolor</h4>
              <ul class="nav-footer__items">
                <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
                <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
                <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="legal">
        <div class="content content--medium">
          <div class="legal__copyright"><span class="aolcore-icon aolcore-icon--aol" aria-hidden="true" aria-role="presentation"></span><small class="screen-reader">AOL MyAccount</small>&copy; 2017 AOL Inc. All rights reserved</div>
        </div>
      </section>
      <!--/.nav-footer-->
    </footer>
  </div>
</body>

src/samples/my-account-profile-edit.pug
include includes/mixins
doctype html
html(lang='en')
head
	include includes/head
body
	.nav-wrapper
		include includes/nav-primary
	.page-wrapper
		header
			include ../components/header
		main
			.content.content--wide.content--highlight
				.content.content--medium
					h1 Contact Information
					.box.box--white
						form
							.row
								.row__col.row__col--x4.error
									label(for="x1")
										| First Name
									input#x1(type="text", val="")  
									label.error__detail(for="x1") Error message
								.row__col.row__col--x4.error
									label(for="x2")
										| Last Name
									input#x2(type="text", val="")  
									label.error__detail(for="x2") Error message
								.row__col.row__col--x4
									label(for="x2a")
										| Display Name
									input#x2a(type="text", val="")  
							.row
								.row__col.row__col--x8
									label(for="x3")
										| Address
									input#x3(type="text", val="")  
								.row__col.row__col--x4
									label(for="x4")
										| Apt / Unit 
										em optional
									input#x4(type="text", val="")  
							.row
								.row__col.row__col--x3
									label(for="x5")
										| Zip Code
									input#x5(type="text", val="")  
								.row__col.row__col--x6
									label(for="x6")
										| City
									input#x6(type="text", val="")  
								.row__col.row__col--x3
									label(for="x6a")
										| State
									select#x6a
										option VA
										option DC
										option MD
							.row
								.row__col.row__col--x6
									label(for="x7")
										| Daytime Phone
									input#x7(type="text", val="")  
								.row__col.row__col--x6
									label(for="x8")
										| Evening Phone
									input#x8(type="text", val="")  
							.row
								.row__col.row__col--x3
									label(for="x7a")
										| Gender <em>optional</em>
									select#x7a
										option VA
										option DC
										option MD
								.row__col.row__col--x3
									label(for="x8a")
										| Date of Birth <em>optional</em>
									input#x8a(type="text", val="", placeholder="DD/MM/YYYY")  
							.row
								button.button.button--cta Save
								button.button.button--plain Cancel

							
				///.content--medium
			///.content--wide
		///main
		footer
			include ../components/nav-footer
