dist/samples/sample-content-containers.html
<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AOL Core UI</title>
  <link rel="stylesheet" href="../assets/css/main.css"><!--[if lt IE 9]>
  <script src="../assets/js/vendor/html5shiv.min.js"></script>
  <script src="../assets/js/vendor/respond.min.js"></script><![endif]-->
  <script src="../assets/js/vendor/modernizr-custom.js"></script>
  <script src="../assets/js/vendor/jquery-2.1.0.min.js"></script>
  <script src="../assets/js/vendor/bootstrap-tooltip.min.js"></script>
  <script src="../assets/js/main.js"></script>
</head>
<body>
  <div class="nav-wrapper">
    <nav class="nav-primary"><a class="nav-primary__logo" href="sample-components.html"><span class="aolcore-icon aolcore-icon--aol" aria-hidden="true" aria-role="presentation"></span><span class="aolcore-icon aolcore-icon--myaccount" aria-hidden="true" aria-role="presentation"></span><small class="screen-reader">AOL MyAccount</small></a>
      <ul class="nav-primary__items">
        <li class="nav-primary__item"><a class="nav-primary__link" href="sample-content-containers.html"><span class="nav-primary__icon aolcore-icon aolcore-icon--products" aria-hidden="true" aria-role="presentation"></span>Layout</a></li>
        <li class="nav-primary__item"><a class="nav-primary__link" href="sample-icons.html"><span class="nav-primary__icon aolcore-icon aolcore-icon--support" aria-hidden="true" aria-role="presentation"></span>Icons</a></li>
        <li class="nav-primary__item js-has-subpanel">
          <div class="nav-primary__link"><span class="nav-primary__icon aolcore-icon aolcore-icon--plans" aria-hidden="true" aria-role="presentation"> </span>Components</div>
          <div class="nav-primary__subpanel">
            <h2>Components</h2>
            <div class="nav-primary__subpanel__close js-nav-primary-subpanel-close"><span class="aolcore-icon aolcore-icon--back-arrow" aria-hidden="true" aria-role="presentation"></span><small class="screen-reader">Back</small></div>
            <ul class="nav-primary__subpanel__items">
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#statement">Statement </a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#record-detail">Record Detail</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#reveal">Reveal</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#prompt">Prompt</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#profile">Profile</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#notification">In-page Notification</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#card">Card</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#contained-overflow">Contained Overflow</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#buttons">Buttons</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#nav-primary">Primary Navigation</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#checkboxes">Checkboxes</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="sample-components.html#radio">Radio Buttons </a></li>
            </ul>
          </div>
        </li>
        <li class="nav-primary__item"><a class="nav-primary__link" href="sample-html-elements.html"><span class="nav-primary__icon aolcore-icon aolcore-icon--text-size" aria-hidden="true" aria-role="presentation"></span>HTML</a></li>
        <li class="nav-primary__item js-has-subpanel"><a class="nav-primary__link" href="#"><span class="nav-primary__icon aolcore-icon aolcore-icon--images-on" aria-hidden="true" aria-role="presentation"></span>Pages</a>
          <div class="nav-primary__subpanel">
            <h2>Pages
              <div class="nav-primary__subpanel__close js-nav-primary-subpanel-close"><span class="aolcore-icon aolcore-icon--back-arrow" aria-hidden="true" aria-role="presentation"></span><small class="screen-reader">Back</small></div>
            </h2>
            <ul class="nav-primary__subpanel__items">
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-cancel.html">My Account - Cancel</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-product.html">My Account - Product</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-subscriptions.html">My Account - Subscriptions</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-payment-methods.html">My Account - Payment Methods</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-add-card.html">My Account - Add Card</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-link-subscriptions.html">My Account - Link Subscriptions</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-add-direct-debit.html">My Account - Add Direct Debit</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-switch-payment-method.html">My Account - Switch Payment Method</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-billing-statement.html">My Account - Billing Statement</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-profile.html">My Account - Profile</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-activity.html">My Account - Activity</a></li>
              <li class="nav-primary__subpanel__item"><a class="nav-primary__subpanel__link" href="my-account-profile-edit.html">My Account - Contact Information</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="nav-primary__complimentary">
        <li class="nav-primary__complimentary__item"><a href="#">Lorem</a></li>
      </ul>
    </nav>
    <!--/.nav-primary-->
  </div>
  <!--/.nav-wrapper-->
  <div class="page-wrapper">
    <header>
      <div class="header">
        <div class="header__hamburger js-primary-nav-toggle"><span class="aolcore-icon aolcore-icon--hamburger" aria-hidden="true" aria-role="presentation"></span><small class="screen-reader">Menu</small></div><a class="header__logo" href="/"><span class="aolcore-icon aolcore-icon--aol" aria-hidden="true" aria-role="presentation"></span><span class="aolcore-icon aolcore-icon--myaccount" aria-hidden="true" aria-role="presentation"></span><small class="screen-reader">AOL MyAccount</small></a><small class="header__beta">Beta</small>
        <div class="header__profile">
          <div class="profile">
            <div class="profile__authenticated js-profile-options-toggle"><span class="profile__name">Hi Username!</span><img class="profile__icon" src="https://s.aolcdn.com/psstatic/aolhelp-prod/8.2.2/assets/img/default-profile-icon.png">
              <ul class="profile__options">
                <li class="profile__option"><a class="profile__link" href="test">Lorem</a></li>
                <li class="profile__option"><a class="profile__link" href="">Ipsum</a></li>
                <li class="profile__option"><a class="profile__link js-profile-signout" href="">Sign Out</a></li>
              </ul>
            </div><a class="profile__unauthenticated js-profile-signin" href="#">Sign In</a>
          </div>
          <!--/.profile-->
        </div>
      </div>
      <!--/.header-->
    </header>
    <main>
      <div class="content content--wide">
        <p> <strong>.content.content--wide</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. </p>
      </div>
      <div class="content content--wide content--highlight">
        <p> <strong>.content.content--wide.content--highlight</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. </p>
      </div>
      <div class="content content--medium">
        <p> <strong>content.content--medium</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. </p>
      </div>
      <div class="content content--wide content--highlight">
        <div class="content content--medium">
          <div class="columns">
            <div class="columns__col">
              <p> <strong>.columns .columns__col</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. </p>
            </div>
            <div class="columns__col"> 
              <p> <strong>.columns .columns__col</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="content content--medium">
        <div class="columns columns--railed">
          <div class="columns__col">
            <p> <strong>.columns .columns__col</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. </p>
          </div>
          <div class="columns__col"> 
            <p> <strong>.columns .columns__col</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. </p>
          </div>
        </div>
      </div>
      <div class="content content--wide content--highlight">
        <div class="content content--narrow">
          <p> <strong>.content.content--narrow</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. </p>
        </div>
      </div>
      <div class="content content--wide content--highlight">
        <div class="content content--medium">
          <p> <strong>.row</strong> Simple grid </p>
          <div class="row">
            <div class="row__col row__col--x1" style="background: #ababab;font-size:10px;">
              <div style="padding:10px 5px;">row__col--x1</div>
            </div>
            <div class="row__col row__col--x11" style="background: #bbb;font-size:10px;"> 
              <div style="padding:10px 5px;">row__col--x11</div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="row__col row__col--x2" style="background: #ababab;font-size:10px;">
              <div style="padding:10px 5px;">row__col--x2</div>
            </div>
            <div class="row__col row__col--x10" style="background: #bbb;font-size:10px;"> 
              <div style="padding:10px 5px;">row__col--x10</div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="row__col row__col--x3" style="background: #ababab;font-size:10px;">
              <div style="padding:10px 5px;">row__col--x3</div>
            </div>
            <div class="row__col row__col--x9" style="background: #bbb;font-size:10px;"> 
              <div style="padding:10px 5px;">row__col--x9</div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="row__col row__col--x4" style="background: #ababab;font-size:10px;">
              <div style="padding:10px 5px;">row__col--x4</div>
            </div>
            <div class="row__col row__col--x8" style="background: #bbb;font-size:10px;"> 
              <div style="padding:10px 5px;">row__col--x8</div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="row__col row__col--x5" style="background: #ababab;font-size:10px;">
              <div style="padding:10px 5px;">row__col--x5</div>
            </div>
            <div class="row__col row__col--x7" style="background: #bbb;font-size:10px;"> 
              <div style="padding:10px 5px;">row__col--x7</div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="row__col row__col--x6" style="background: #ababab;font-size:10px;">
              <div style="padding:10px 5px;">row__col--x6</div>
            </div>
            <div class="row__col row__col--x6" style="background: #bbb;font-size:10px;"> 
              <div style="padding:10px 5px;">row__col--x6</div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="row__col row__col--x7" style="background: #ababab;font-size:10px;">
              <div style="padding:10px 5px;">row__col--x7</div>
            </div>
            <div class="row__col row__col--x5" style="background: #bbb;font-size:10px;"> 
              <div style="padding:10px 5px;">row__col--x5</div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="row__col row__col--x8" style="background: #ababab;font-size:10px;">
              <div style="padding:10px 5px;">row__col--x8</div>
            </div>
            <div class="row__col row__col--x4" style="background: #bbb;font-size:10px;"> 
              <div style="padding:10px 5px;">row__col--x4</div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="row__col row__col--x9" style="background: #ababab;font-size:10px;">
              <div style="padding:10px 5px;">row__col--x9</div>
            </div>
            <div class="row__col row__col--x3" style="background: #bbb;font-size:10px;"> 
              <div style="padding:10px 5px;">row__col--x3</div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="row__col row__col--x10" style="background: #ababab;font-size:10px;">
              <div style="padding:10px 5px;">row__col--x10</div>
            </div>
            <div class="row__col row__col--x2" style="background: #bbb;font-size:10px;"> 
              <div style="padding:10px 5px;">row__col--x2</div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="row__col row__col--x11" style="background: #ababab;font-size:10px;">
              <div style="padding:10px 5px;">row__col--x11</div>
            </div>
            <div class="row__col row__col--x1" style="background: #bbb;font-size:10px;"> 
              <div style="padding:10px 5px;">row__col--x1</div>
            </div>
          </div>
          <!--/.row-->
        </div>
      </div>
    </main>
    <!--/main-->
    <!--/main-->
    <footer>
      <section class="notification notification--highlight notification--centered">
        <div class="notification__content">
          <big>Do you have an questions or issues? </big><a class="button button--cta button--white" href="#">Get Help</a>
        </div>
      </section>
      <!--/.notification-->
      <section class="nav-footer">
        <div class="content content--medium">
          <div class="nav-footer__sections">
            <div class="nav-footer__section">
              <h4 class="nav-footer__title js-nav-footer-toggle">Lorem</h4>
              <ul class="nav-footer__items">
                <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
                <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
                <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
              </ul>
            </div>
            <div class="nav-footer__section">
              <h4 class="nav-footer__title js-nav-footer-toggle">Ipsum</h4>
              <ul class="nav-footer__items">
                <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
                <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
                <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
              </ul>
            </div>
            <div class="nav-footer__section">
              <h4 class="nav-footer__title js-nav-footer-toggle">Dolor</h4>
              <ul class="nav-footer__items">
                <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
                <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
                <li class="nav-footer__item"><a class="nav-footer__link" href="">link </a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="legal">
        <div class="content content--medium">
          <div class="legal__copyright"><span class="aolcore-icon aolcore-icon--aol" aria-hidden="true" aria-role="presentation"></span><small class="screen-reader">AOL MyAccount</small>&copy; 2017 AOL Inc. All rights reserved</div>
        </div>
      </section>
      <!--/.nav-footer-->
    </footer>
    <!--/footer-->
    <section class="fixed-wrapper">
      <section class="prompt prompt--light">
        <div class="content content--medium">
          <div class="prompt__content">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem magnam incidunt aut at sit nemo sequi dolore, dolorum sed laudantium perferendis veritatis.</p>
          </div>
          <div class="prompt__action">
            <button class="button button--outline js-prompt-action">Lorem</button>
          </div>
        </div>
      </section>
      <!--/.prompt-->
    </section>
    <!--/.fixed-wrapper-->
  </div>
  <!--/.page-wrapper-->
</body>

src/samples/sample-content-containers.pug
doctype html
html(lang='en')
head
    include includes/head
body
    .nav-wrapper
        include includes/nav-primary
    ///.nav-wrapper
    .page-wrapper
        header
            include ../components/header
        main
            .content.content--wide
               p  <strong>.content.content--wide</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. 

            .content.content--wide.content--highlight
               p  <strong>.content.content--wide.content--highlight</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. 

            .content.content--medium
                p  <strong>content.content--medium</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. 

            .content.content--wide.content--highlight
                .content.content--medium
                    .columns
                        .columns__col
                            p  <strong>.columns .columns__col</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. 
                        .columns__col 
                            p  <strong>.columns .columns__col</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. 

            .content.content--medium
                .columns.columns--railed
                    .columns__col
                        p  <strong>.columns .columns__col</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. 
                    .columns__col 
                        p  <strong>.columns .columns__col</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. 

            .content.content--wide.content--highlight
                .content.content--narrow
                    p  <strong>.content.content--narrow</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. 

            .content.content--wide.content--highlight
                .content.content--medium

                    p  <strong>.row</strong> Simple grid 
                    for i in [1,2,3,4,5,6,7,8,9,10,11]
                        .row
                                .row__col(style="background: #ababab;font-size:10px;", class="row__col--x" + i )
                                    div(style="padding:10px 5px;") row__col--x#{i}
                                .row__col(style="background: #bbb;font-size:10px;", class="row__col--x" + (12 - i)) 
                                    div(style="padding:10px 5px;") row__col--x#{12 - i}
                        ///.row
        ///main
        ///main
        footer
            include ../components/nav-footer
        ///footer
        section.fixed-wrapper
            include ../components/prompt
        ///.fixed-wrapper
    ///.page-wrapper
